# --- Ambiente Virtual ---
venv/
.env

# --- Dados (NUNCA enviar para o GitHub) ---
data/
*.xlsx
*.csv

# --- Arquivos Temporários e do Sistema ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/