# --- Ambiente Virtual ---
venv/
.env
.python-version


# --- Arquivos Temporários e do Sistema ---
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
.vscode/
.idea/

# --- MLOps e Logs ---
mlruns/
*.log

# --- Monitoramento e Banco de Dados ---
*.db
monitoring.db

# --- Testes Unitários ---
.pytest_cache/
.coverage
htmlcov/

# --- Docker ---
*.cid