name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test-and-validate:
    runs-on: ubuntu-latest
    
    steps:
    - name: Baixar código
      uses: actions/checkout@v3

    - name: Configurar Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12' 

    - name: Instalar dependências
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install pytest pytest-cov # Garante que temos as ferramentas de teste

    - name: Rodar Testes com Pytest
      run: |
        pytest --cov=app --cov=src --cov-fail-under=80

  deploy-to-render:
    needs: test-and-validate
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    
    steps:
    - name: Avisar o Render para atualizar
      run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"